.navbar {
  background: var(--secondary-blue);
}

/* Estilo del logo */
#myBrand {
  font-family: "Zen Dots", serif;
  width: 150px;   /* Ajusta el tamaño del logo */
  height: auto;   /* Mantiene la proporción */
  padding: 5px;   /* Añade algo de espacio alrededor */
}

/* Estilo de los enlaces del navbar */
#navbarLinks a {
  font-family: "Inter", sans-serif;
  color: var(--neutral-light);
}

/* Efecto hover en los enlaces */
#navbarLinks a:hover {
  color: var(--highlight-accent);
}
